#header.hide {
    top: -80px;
    transition: top 0.2s ease 0.s;
}
#header.scrolled {
    background-color: #000002;
}
#header {
    top: 0;
    width: 100%;
    position: fixed;
    transition: background-color 0.3s ease, top 0.6s ease-in-out 0.4s;
    background-color: #ffffff;

    z-index: 100;
}